* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, auto);
  grid-template-areas:
    "hd hd hd hd"
    "sidebar nav nav nav"
    "sidebar article article article"
    "sidebar article article article"
    "sidebar article article article"
    "sidebar article article article"
    "footer footer footer footer";
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-area: hd;
  display: grid;
  grid-template-columns: 2fr 8fr;
}

.menu {
  display: grid;
  align-items: center;
  justify-items: end;
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(4, auto);
  width: 70%;
}

.menu ul,
.menu li {
  font-size: 16px;
  list-style-type: none;
  padding: 0px;
}

.sidebar {
  background-color: #C50208;
  grid-area: sidebar;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
  grid-area: nav;
}

.nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  grid-area: article;
  Display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, minmax(200px, auto));
  gap: 20px;
}



.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-area: footer;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}